*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.imagefondo
{
    width: 80%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
.contenedoralqui
{
    position: relative;
    z-index: 1;
    width: 90%;
    height: 100%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo
{
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.6vw;
    margin: 0% 0% 2% 2%;
    color: rgb(0, 0, 0);
}
.botones
{
    display: flex;
    width: 100%;
    align-items: center;
}
.botones a
{
    display: inline-block;
    margin: 0 0 20px 0;
    background-color: #1b1e2f;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 6px;
    border: 2px solid #1b1e2f;
    white-space: nowrap;
    font-family: "Glegoo", serif;
    font-weight: 900;
    font-size: 1.1rem;
    transition: background-color 0.3s, border-color 0.3s;
}
.botones a:hover
{
    background-color: #60748b;
    color: #FFFFFF;
    border-color: #60748b;

}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto 40px auto;
    font-family: 'Cabin Condensed', sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    
}
thead {
    background-color: #60748b; /* verde oliva oscuro */
    color: #fff;
    font-weight: 600;
}
thead th {
    padding: 7px 13px;
    text-align: left;
    font-size: 19px;
}
tbody tr {
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}
tbody tr:hover {
    background-color: #dcedc8; /* verde claro */
}
tbody td {
    padding: 12px 15px;
    color: #1a1a1a;
    font-size: 19px;
}
tbody tr:last-child {
    border-bottom: none;
}
a.volver-lista {
    display: inline-block;
    background-color: #1b1e2f;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 6px;
    border: 2px solid #1b1e2f;
    white-space: nowrap;
    font-family: "Glegoo", serif;
    font-weight: 900;
    font-size: 1.1rem;
    transition: background-color 0.3s, border-color 0.3s;
}

        /* Mantener color en hover (opcional) */
a.volver-lista:hover {
    background-color: #60748b;
    color: #FFFFFF;
    border-color: #60748b;
}
.mensajes
{
    font-size: 20px;
    font-family: "Glegoo", serif;
    font-weight: 500;
    color: #1a1a1a;

}
form
{
    font-size: 20px;
    font-family: "Glegoo", serif;
    font-weight: 500;
    color: #1a1a1a;

}