*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.imagefondo
{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
.titulo
{
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5vw;
    margin: 0% 54% 1% 0;
    color: rgb(59, 59, 59);
}

.conteneeditar{
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 3% 3% 3% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;            
    height: 100%;
}
form textarea
{
    height: 7%;
}
form {
    max-width: 900px;
    margin: 0 auto;
    
    
    column-gap: 40px;
    row-gap: 30px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: transparent;
}



form br {
    display: none;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 17px;
    color: #2c3e50;
    margin: 7px 0px 7px 0px;
    font-family: "Slabo 13px", serif;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select {
    padding: 12px 15px;
    border: 2px solid #e0e0e0;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    width: 78%;
    height: 7%;
    transition: border 0.3s;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form select:focus {
    border-color: #1D12F2;
    outline: none;
}

form label[for="id_nombre"] {
    grid-column: 1;
    grid-row: 1;
}

form #id_nombre {
    grid-column: 1;
    grid-row: 2;
}

form label[for="id_apellido"] {
    grid-column: 2;
    grid-row: 1;
}

form #id_apellido {
    grid-column: 2;
    grid-row: 2;
}

form label[for="id_correo"] {
    grid-column: 1;
    grid-row: 3;
}

form #id_correo {
    grid-column: 1;
    grid-row: 4;
}

form label[for="id_celular"] {
    grid-column: 2;
    grid-row: 3;
}

form #id_celular {
    grid-column: 2;
    grid-row: 4;
}

form label[for="id_direccion"] {
    grid-column: 1;
    grid-row: 5;
    height: 7%;
}

form #id_direccion {
    grid-column: 1;
    grid-row: 6;
    height: 7%;
}

form label[for="id_estado"] {
    grid-column: 2;
    grid-row: 5;
}

form #id_estado {
    grid-column: 2;
    grid-row: 6;
    height: 45px;
    box-sizing: border-box;
}

form button[type="submit"] {
    
    background-color: #1b1e2f;
    color: white;
    border: none;
    padding: 14px 28px;
    margin-top: 10px;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 30px;
    font-family: "Glegoo", serif;
    font-weight: 400;
    justify-self: center;
    transition: background 0.3s;
}

form button[type="submit"]:hover {
    background-color: #60748b;
}

.boton
{
    width: 100%;
    height: 11%;
    display: flex;
    align-items: center;
}
.contenido{
    height: 80%;
    width: 50%;
    margin:0px 0px 0px 42%;
}
.boton .bot
{
    font-family: "Glegoo", serif;
    font-weight: 400;
    background-color: #1b1e2f;
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    justify-self: center;
    text-decoration: none;
    transition: background 0.3s;
}
.boton .bot:hover
{
    background-color: #60748b;
}

.botonn
{
    display: flex;
    justify-content: center;
}