*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.imagefondo
{
    width: 80%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
.form-traje {
    
    border-radius: 8px;
    
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;
    
}
.contenedor
{
    position: relative;
    z-index: 1;
    padding: 3% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;            
    height: 100%;
}
.titulo
{
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5vw;
    margin: 1% 0% 2% 2%;
    color: rgb(59, 59, 59);
}
.contenedortra
{
    margin-right: 40%;
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;
    font-family: "Slabo 13px", serif;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #777777;
    font-size: 16px;
    background-color: #e7e7e7;
    margin-top: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    height: 7%;
}

.form-group input[type="file"] {
    padding: 6px;
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    border-color: #7e3ff2;
    outline: none;
}

.btn-primary {
    background-color: #1b1e2f;
    
    padding: 12px 25px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 18px;
    width: 100%;
    font-family: "Glegoo", serif;
}

.btn-primary:hover {
    background-color: #60748b;
    border-color: #60748b;
}

a.volver-lista {
    display: inline-block;
    margin: 0 0 20px 0;
    background-color: #1b1e2f;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 6px;
    border: 2px solid #1b1e2f;
    white-space: nowrap;
    font-family: "Glegoo", serif;
    font-weight: 900;
    font-size: 1.1rem;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Mantener color en hover (opcional) */
a.volver-lista:hover {
    background-color: #60748b;
    color: #FFFFFF;
    border-color: #60748b;
}
.seccionboton
{
    display: flex;
    align-items: center;
    width: 86%;

}
.text-purple {
    color: #7e3ff2;
}

h1.text-purple {
    color: #7e3ff2;
    font-size: 36px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .form-traje {
        padding: 20px;
    }

    h1.text-purple {
        font-size: 28px;
    }
}
