body{
    background: #fff;
    margin: 0;
    padding: 0;
}

.container {
    background-image: url("/media/media/fondoinicio.png");
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;            
    height: 100%;
}

.tituloo
{
    font-family: "Titillium Web", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    margin: 20px 525px 20px 0px;
    color: rgb(59, 59, 59);
}
.saludo {
    font-size: 23px;
    margin: 0px 310px 20px 0px;
    font-family: "Slabo 13px", serif;
    font-weight: 600;
    font-style: normal;
}
.Cuadrocolor
{
    background-color: #5c5e5f57;
    height: 500px;
    width: 1160px;
    border-radius: 10px;
    display: flex;
    align-items: center;            
}
.caja1
{
    display: flex;
    flex-direction: column;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 110px;
    max-width: 1000px;
    margin: 0 auto;
}

.icon-card {
    background-color: #0b113f;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    font-family: "Glegoo", serif;
    font-weight: 900;
    font-style: normal;
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 10px;
}

    .icon-card:hover {
        background-color: #6cb88e;
    }

.imagencuadro {
    width: 77px;
    height: 85px;

}

.icon-card p {
    margin-top: 10px;
    margin-left: 16px;
    font-weight: bold;
    font-size: 27px;

}

.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;}