{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/informacion_cliente.css' %}">
<a href="{% url 'clientes' %}" class="volver-lista">← Volver a la lista</a>
<h2>Información del Cliente</h2>
<ul>
    <li><strong>Nombre:</strong> {{ cliente.nombre }} {{ cliente.apellido }}</li>
    <li><strong>Contacto:</strong> {{ cliente.celular }}</li>
    <li><strong>Correo:</strong> {{ cliente.correo }}</li>
    <li><strong>Dirección:</strong> {{ cliente.direccion }}</li>
    <li><strong>Estado:</strong> {{ cliente.estado }}</li>
</ul>

<div class="actions">
    <a href="{% url 'editar_cliente' cliente.id %}" class="editar">Editar</a>
    <a href="{% url 'eliminar_cliente' cliente.id %}" onclick="return confirm('¿Estás seguro de que quieres eliminar este cliente?');" class="eliminar">Eliminar</a>
</div>

{% endblock %}
