{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="saludo">Hola, {{ user.username }} 👋</h1>

    <div class="icon-grid">
        <a href="{% url 'clientes' %}" class="icon-card">
            <img src="" alt="Clientes">
            <p>Clientes</p>
        </a>
        <a href="{% url 'reserva'%}" class="icon-card">
            <img src="" alt="Reservas">
            <p>Reservas</p>
        </a>
        <a href="{% url 'inventario'%}" class="icon-card">
            <img src="" alt="Inventario">
            <p>Inventario</p>
        </a>
        <a href="{% url 'catalogoTrajes'%}" class="icon-card">
            <img src="" alt="catalogoTrajes">
            <p>Catalogo de Trajes Folkloricos</p>
        </a>
       
    </div>
</div>
{% endblock %}

