body{
    background: #fff;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloo
{
    font-family: "Boogaloo", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    margin: 25px 0px 20px 30px;
}
.saludo {
    font-size: 20px;
    margin: -10px 0px 20px 30px;
    font-family: "Glegoo", serif;
    font-weight: 400;
    font-style: normal;
}
.Cuadrocolor
{
    background-color: #f8b1b1;
    height: 450px;
    width: 1100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
}
.caja1
{
    display: flex;
    flex-direction: column;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    max-width: 890px;
    margin: 0 auto;
}

.icon-card {
    background-color: #ff7070;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    font-family: "Glegoo", serif;
    font-weight: 900;
    font-style: normal;
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 10px;
}

.icon-card:hover {
    background-color: #b86c6c;
}

.icon-card img {
    width: 77px;
    height: 85px;
    filter: invert(100%);
}

.icon-card p {
    margin-top: 10px;
    margin-left: 16px;
    font-weight: bold;
    font-size: 27px;

}

.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
