{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    
    <link rel="stylesheet" href="{% static 'css/cifrar.css' %}">
</head>
<img src="{% static 'media/fondoextenso55.png' %}" alt="" class="imagefondo">


<div class="contenedorcif">
    <div class="botones">
        <a href="{% url 'inicio' %}" class="volver-lista">← Volver</a>
        <h1 class="titulo">Cifrar Archivo</h1>
      
    </div>
    <div class="cajita">
        <form method="post" enctype="multipart/form-data" class="bg-light p-4 rounded shadow-lg">
            {% csrf_token %}
            <div class="otro2">
                <label for="archivo" class="form-label">Selecciona un archivo PDF:</label>
                <input type="file" id="archivo" name="archivo" class="form-control" required>
            </div>
            <div class="otro1">
                <label for="clave" class="form-label">Clave de cifrado (16 caracteres):</label>
                <input type="text" id="clave" name="clave" class="form-control" maxlength="18" required>
            </div>

            <div class="seccionboton">
                <button type="submit" class="botonees">Cifrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
