{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    
    <link rel="stylesheet" href="{% static 'css/cifrar.css' %}">
</head>
<img src="{% static 'media/fondoextenso44.png' %}" alt="" class="imagefondo">

<div class="contenedorcif">
    <div class="botones">
        <a href="{% url 'inicio' %}" class="volver-lista">← Volver</a>
        <h1 class="titulo">Cifrar Archivo</h1>
      
    </div>
    
    <form method="post" enctype="multipart/form-data" class="bg-light p-4 rounded shadow-lg">
        {% csrf_token %}
        <div class="mb-3">
            <label for="archivo" class="form-label">Selecciona un archivo:</label>
            <input type="file" id="archivo" name="archivo" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="clave" class="form-label">Clave de cifrado (16 caracteres):</label>
            <input type="text" id="clave" name="clave" class="form-control" maxlength="16" required>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-success shadow-lg fw-bold">Cifrar</button>
        </div>
    </form>
</div>
{% endblock %}
