{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/criptografia.css' %}">
</head>
<img src="{% static 'media/fondoextenso44.png' %}" alt="" class="imagefondo">

<div class="contenedorcrip">
    <div class="botones">
        <a href="{% url 'inicio' %}" class="volver-lista">← Volver</a>
        <h1 class="titulo">Criptografía</h1>
      
    </div>
    
    <div class="seccionboton">
        <a href="{% url 'cifrar_pdf' %}" class="botoneess">Cifrar PDF</a>
        <a href="{% url 'descifrar_pdf' %}" class="botoneess">Descifrar PDF</a>
    </div>
</div>
{% endblock %}
