{% extends 'base.html' %}
{% block content %}

<h2>Agregar Categoría</h2>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
        {{ form.nombre.errors }}
        {{ form.nombre }}
    </div>

    <div>
        <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
        {{ form.descripcion.errors }}
        {{ form.descripcion }}
    </div>
    <div>
        <label for="{{ form.imagen.id_for_label }}">Imagen:</label>
        {{ form.imagen.errors }}
        {{ form.imagen }}
    </div>

    <button type="submit">Guardar</button>
</form>

{% endblock %}
