{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/editartraje.css' %}">
</head>
<img src="{% static 'media/fondoextenso44.png' %}" alt="" class="imagefondo">
<div class="contenedoredit">
    <div class="seccionboton">
        <a href="{% url 'inicio' %}" class="volver-lista">← Volver</a>
        <h1 class="titulo">Editar Traje</h1>
    </div>
    
    <div class="contene">
        <form method="post" enctype="multipart/form-data" class="bg-light p-4 rounded shadow-lg">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-end">
                <button type="submit" class="botones">Guardar Cambios</button>
                <a href="{% url 'administracionCatalogo' %}" class="botones">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
